@import '../../assets/styles/vars';

.location-dropdown {
  border: 1px solid $border-primary;
  border-radius: 12px;
  margin: 8px 0;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: linear-gradient(to top, $text-on-color, transparent);
    pointer-events: none;
    border-radius: 12px;
  }

  .location-tabs {
    display: flex;
    padding: 0 16px;
    border-bottom: 1px solid $border-primary;
    font-family: Roboto Condensed;

    .location-tab {
      padding: 14.5px 0;
      margin-right: 16px;
      cursor: pointer;
      color: $text-tertiary;

      &:hover {
        color: $text-primary;
      }

      &.active {
        position: relative;
        color: $text-primary;
        border-bottom: 1px solid #07000f;
        transform: translateY(1px);

        &:hover {
          border-width: 2px;
        }
      }
    }
  }

  .location-content {
    padding-right: 8px;
  }

  .nav-list {
    list-style-type: none;
    padding-top: 8px;
    margin: 0;
    max-height: 304px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $icon-primary transparent;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $icon-primary;
      border-radius: 12px;
      max-height: 160px;
    }
  }
}

.no-scrollbar::after {
  display: none;
}
