@import '../../assets/styles/vars';

.dropdown-list-item {
  padding: 12px 4px 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba($bg-neutral, 0.1);
  }
}
