@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

#selected-items {
  display: flex;
  gap: 4px;
  padding: 12px 16px;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid $border-primary;
  cursor: grab;
  scrollbar-width: none;

  &::active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .selected-item {
    @include label;
    font-family: Roboto Condensed;
    text-transform: uppercase;
    background-color: $bg-neutral;
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    align-items: center;

    .close-btn {
      margin-left: 4px;
      max-width: none;
      min-width: 16px;
      cursor: pointer;
    }
  }
}
