// Colors
$Black500: #07000f;
$Black400: #07000fb2;
$Black300: #07000f66;
$Black200: #07000f1a;
$Black100: #02162d0d;
$White500: #ffffff;
$Accent500: #0067fe;
$Accent600: #085edb;

$icon-primary: $Black500;
$icon-secondary: $Black400;
$icon-tertiary: $Black300;
$icon-accent: $Accent500;
$icon-on-color: $White500;

// Text Colors
$text-primary: $Black500;
$text-secondary: $Black400;
$text-tertiary: $Black300;
$text-accent: $Accent500;
$text-on-color: $White500;

// Background Colors
$bg-primary: $White500;
$bg-neutral: $Black100;
$bg-accent: $Accent500;
$bg-accent-hover: $Accent600;

// Border Colors
$border-primary: $Black200;
$border-primary-hover: $Black300;
$border-strong: $Black500;
